<%= link_to 'Novo post', new_post_path %>
<hr>
<% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>

    <div class="list-date">
      <%= post.created_at.strftime("%B %Y") %>
    </div>

<% end %>



