<%= link_to t('links.post.add'), new_post_path %>
<hr>
<% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>

  <p>
    <%= post.user.email %>
    <div class="list-date">
      <%= l(post.created_at, :format => :short) %>
    </div>
  </p>
<% end %>



